<div class="container mt-5">
    <div class="row">
        <div clas="col">
            <div class="card p-5">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </div>
        </div>
        <div class="col ml-5">

            <div class="tab-panel">
                <tabset #staticTabs>
                    <tab heading="Informacje" id="tab1">
                        <div class="p-4">
                        <h2><strong>{{value.mark}} {{value.model}}</strong></h2>
                        <h3 class="text-danger mt-2"><strong>{{value.price}} PLN</strong></h3>
                        <h5 class="mt-5">Rocznik: <strong class="text-primary">{{value.year}} r. </strong></h5>
                        <h5>Pojemność silnika: <strong class="text-primary">{{value.engineCapacity}}</strong></h5>
                        <h5>Przebieg: <strong class="text-primary">{{value.mileage}}</strong></h5>
                        <h5>Rodzaj paliwa:<strong class="text-primary"> {{value.fuelType}}</strong></h5>
                        <h5>Kolor:<strong class="text-primary"> {{value.color}}</strong></h5>
                        <h5>Liczba drzwi:<strong class="text-primary">{{value.numberOfDoors}}</strong></h5>
                        </div>
                    </tab>
                    <tab heading="Opis">
                        <div class="p-4">
                            {{value.describe}}
                    </div>
                </tab>
                    <tab heading="Zadaj pytanie">
                        <div class="p-4">
                        <form #questionForm="ngForm" (ngSubmit)="addQuestion()">
                            <label>Email: (Odpowiedź zostanie odesłana na ten adres)</label><input class="form-control" type="text" [(ngModel)]= "model.email" name="email" required>
                           <label class="mt-2">Treść zapytania:</label><textarea class="form-control" type="text" [(ngModel)]= "model.content" name="content" rows=3 required></textarea>
                            <button [disabled] = "!questionForm.valid"  class="btn btn-primary mt-2"type="submit">Zapytaj</button>
                        </form>
                        </div>
                </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>