<div class="container mt-5">
  <div class="row">
    <div class="col">
    <div class="alert alert-dark text-center" *ngIf="editForm.dirty">
      <strong>Informacja:</strong> Dokonałeś zmian. Wszelkie nie zapisane zmiany zostaną utracone!
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form #editForm="ngForm" (submit)="updateValue()">
        <table class="table">
          <tr>
            <th class="p-4">
              Marka:
            </th>
            <td>
              <textarea class="form-control" name="mark" rows=1 [(ngModel)]="value.mark"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Model:
            </th>
            <td>
              <textarea class="form-control" name="model" rows=1 [(ngModel)]="value.model"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Rocznik:
            </th>
            <td>
              <textarea class="form-control" name="year" rows=1 [(ngModel)]="value.year"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Silnik:
            </th>
            <td>
              <textarea class="form-control" name="engineCapacity" rows=1 [(ngModel)]="value.engineCapacity"></textarea>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <button type="submit" class="btn btn-info mr-1" [disabled]="!editForm.dirty">Zapisz zmiany</button>
              <button type="button" class="btn btn-secondary" [routerLink]="['/paneladministracyjny']">Anuluj</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>