  <div class="container mt-5">
    <tabset [justified]= "true">
      <tab heading = "Edycja informacji">
  <div class="row mt-4">
    <div class="col">
    <div class="alert alert-dark text-center" *ngIf="editForm.dirty">
      <strong>Informacja:</strong> Dokonałeś zmian. Wszelkie nie zapisane zmiany zostaną utracone!
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form #editForm="ngForm" (submit)="updateValue()">
        <table class="table">
          <tr>
            <th class="p-4 th-first">
              Marka:
            </th>
            <td class="th-first">
              <textarea class="form-control" name="mark" rows=1 [(ngModel)]="value.mark"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Model:
            </th>
            <td>
              <textarea class="form-control" name="model" rows=1 [(ngModel)]="value.model"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Rocznik:
            </th>
            <td>
              <textarea class="form-control" name="year" rows=1 [(ngModel)]="value.year"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Silnik:
            </th>
            <td>
              <textarea class="form-control" name="engineCapacity" rows=1 [(ngModel)]="value.engineCapacity"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Cena:
            </th>
            <td>
              <textarea class="form-control" name="price" rows=1 [(ngModel)]="value.price"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Rodzaj paliwa:
            </th>
            <td>
              <textarea class="form-control" name="fuelType" rows=1 [(ngModel)]="value.fuelType"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Kolor:
            </th>
            <td>
              <textarea class="form-control" name="color" rows=1 [(ngModel)]="value.color"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Liczba drzwi:
            </th>
            <td>
              <textarea class="form-control" name="numberOfDoors" rows=1 [(ngModel)]="value.numberOfDoors"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Przebieg:
            </th>
            <td>
              <textarea class="form-control" name="mileage" rows=1 [(ngModel)]="value.mileage"></textarea>
            </td>
          </tr>
          <tr>
            <th class="p-4">
              Opis:
            </th>
            <td>
              <textarea class="form-control" name="describe" rows=4 [(ngModel)]="value.describe"></textarea>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <button type="submit" class="btn btn-info mr-1" [disabled]="!editForm.dirty">Zapisz zmiany</button>
              <button type="button" class="btn btn-secondary" [routerLink]="['/paneladministracyjny']">Anuluj</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</tab>
<tab heading="Edycja zdjęć">
  <div class="row mt-4">
    <div class="col-sm-3" *ngFor="let photo of value.photos">
    <img  src="{{photo.url}}" class="img-thumbnail img-foredit p-1">
    <div class="mt-1">
    <button type="button" class="btn btn-primary">Ustaw jako główne</button>
    <button type="button" class="btn btn-secondary ml-1">Usuń</button>
  </div>
  </div>
  </div>
<div class="container mt-5">
<h1>Prześlij zdjęcia</h1>

  <div class="row mt-5">
    <div class="col-md-3">

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-fadded p-3 text-center my-drop-zone mb-2">
            <i class="fa fa-upload fa-3x"></i>
             Tutaj upuść zdjęcie
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

    </div>

    <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

        <h3>Pliki które chcesz wysłać:</h3>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Nazwa</th>
                <th>Rozmiar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td> 
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s mt-2"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Wyślij
            </button>
            <button type="button" class="btn btn-warning btn-s mt-2 ml-2"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-ban"></span> Anuluj
            </button>
        </div>

    </div>

</div>
</div>
</tab>
  </tabset>
</div>
