<div class="container mt-4">
  <div class="row">
    <!-- <div class="col-lg-12">
      miejsce na baner reklamowy miejsce na baner reklamowy miejsce na baner reklamowy miejsce na baner reklamowy
      miejsce na baner reklamowy
    </div> -->
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <!-- <div class="col-lg-2 col-md-4 col-sm-6">
      miejsce na baner reklamowy miejsce na baner reklamowy miejsce na baner reklamowy miejsce na baner reklamowy
      miejsce na baner reklamowy
    </div> -->
    <div class="col">
      <div class="row">
        <div *ngFor="let value of values" class="col-lg-4 col-md-6 col-sm-8">
          <app-value-card [value]="value"></app-value-card>
        </div>
      </div>
    </div>
  </div>
</div>