<table class="table">
  <thead>
  <tr>
    <td>ID</td>
    <td>Marka</td>
    <td>Model</td>
    <td>Rocznik</td>
    <td>Silnik</td>
    <td>Cena</td>
    <td>Rodzaj paliwa</td>
    <td>Kolor</td>
    <td>Liczba drzwi</td>
    <td>Przebieg</td>
  </tr>
</thead>
<tbody>
<tr *ngFor="let value of values">
  <td>
    {{value.id}}
  </td>
  <td>
    {{value.mark}}
  </td>
  <td>
    {{value.model}}
  </td>
  <td>
    {{value.year}}
  </td>
  <td>
    {{value.engineCapacity}}
  </td>
  <td>
    {{value.price}}
  </td>
  <td>
    {{value.fuelType}}
  </td>
  <td>
    {{value.color}}
  </td>
  <td>
    {{value.numberOfDoors}}
  </td>
  <td>
    {{value.mileage}}
  </td>
  <td>
    <a [routerLink]="['/paneladministracyjny/edytuj', value.id]">Edytuj</a>
  </td>
  <td>
    <a href="#">Usuń</a>
  </td>
</tr>
</tbody>
</table>