<div class="card mb-5 p-3">
  <div class="card-body text-center">
    <h5 class="card-title">{{value.mark}} {{value.model}}</h5>
    <h6 class="text-danger"><strong>{{value.price}} PLN</strong></h6>
  </div>
  <div class="card-img-wrapper">
  <img class="card-img-top" src="{{value.photoUrl}}" alt="{{value.mark}}">
  </div>
  <div class="card-body">
    <p class="card-text text-muted text-center">Rocznik: {{value.year}}, Silnik: {{value.engineCapacity}}</p>
    <a [routerLink]="['/samochod', value.id]" routerLinkActive="router-link-active"  class="btn btn-primary">Więcej informacji</a>
  </div>
</div>
